<!DOCTYPE html>
<html>
<head>    
   <link rel="stylesheet" href="bootstrap3/css/bootstrap.css"/>
   <link rel="stylesheet" href="style.css"/>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="This is an online PVP tictactoe game meant to spent some free time or when bored in lectures or classes">
   <meta charset="UTF-8"/>
   <title>404 page not found/title>
   <style>
      #sound-button {
          /*color: #ffffff;
          
          background-color: #000000;*/
          border-radius: 15px;
          border-color: #757575 #757575 #757575;
      }
      #sound-button:hover {
         color: #ffffff;
          background-color: #323232;

          border-color: #757575 #757575 #757575;
      }
      #sound-button{
        font-size: calc(1.1vh + 1.1vw);
      }
   </style>
</head>
<body>
  <% include templates/navigation.ejs %>
	<div class="container">	
		<div class="row">
			<div class="jumbotron jumbotronmy col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1>Sorry such page does not exist.</h1></div>
<!--Highscore-->
		</div>	
	</div>
<script src="jquery/jquery.min.js"></script>
<script language="javascript" src="bootstrap3/js/bootstrap.min.js"></script>
</body>
</html>

