body {
    color: grey;
    background: url(background22.jpg) fixed center;
    background-color: grey;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.container .row .jumbotronmy {
	padding: 0px 0px 0px 0px;
	width:100%;
	color: white;
	background-color:transparent;
	
}
.jumbotronmy h1{
	font-size: 7vw;
	text-align: center;
	width:100%;
}
.mb{
	margin-bottom: 30px;
}

.menu-link{
	 color: grey;
	 text-decoration:none;
}
.menu-link:hover{
	 color: #333;
	 text-decoration:none;
}

.menu-btn:active{
 background-color: #A3A3A3;
 color: #424242;
}

@media (min-width: 768px) {
	.menu-btn{
	font-size: 4vmin;
	text-align: center;
	}
	}
	@media (max-width: 767px) {
	.menu-btn{
	font-size: 4vmax;
	text-align: center;
	}
	}
